* {
    font-family: 'Open Sans', sans-serif;
}

.Title {
    padding: 5px 15px;
    font-size: 25px;
    margin: 0 5px;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #ccc;
    color: #343A40;
}

.Box {
    margin: 70px 40px;
}
